/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables for maintainability */
:root {
  --main-bg-color: #1a1a1a;
  --main-text-color: #ffffff;
  --highlight-color: #76b7fd;
  --btn-bg-color: #fff;
  --btn-text-color: #333;
  --btn-border-color: #fff;
  --hr-color: #333;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --modal-bg-color: rgba(0, 0, 0, 0.9);
  --close-btn-color: #f1f1f1;
  --close-btn-hover-color: #bbb;
  --primary-color: #80b5ee;
  --secondary-color: #007bff;
  --font-family-sans: "Montserrat", sans-serif;
  --font-family-header: "Archivo Narrow", sans-serif;
  --font-size-base: 1rem;
  --font-size-small: 1.25rem;
  --font-size-medium: 1.375rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 1.75rem;
  --spacing-small: 0.625rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 2rem;
  --header-height: 6rem;
  --border-radius: 0.5rem;
  --box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  --radius: 200px;
}

/* Base structure */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

body {
  height: calc(100vh - var(--header-height));
  background-color: #131418; 
  background: url('/media/background.png') center center / cover repeat-y;
  background-attachment: fixed;
  color: var(--main-text-color);
  position: relative;
  padding: var(--spacing-small);
}

body.specific-page {
  background: url('/media/404notfound.png') center center / 100% 100% no-repeat;
  background-attachment: fixed;
  position: relative;
  padding: var(--spacing-small);
}

a {
  color: #fff;
}

.highlight, a:hover, a:focus {
  color: var(--highlight-color);
}

hr {
  border: 0;
  height: 0.0625rem; 
  background: var(--hr-color);
  margin: 3.75rem 0; 
}

/* Custom default button */
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: var(--btn-text-color);
  text-shadow: none;
  background-color: var(--btn-bg-color);
  border: 0.05rem solid var(--btn-border-color);
}

/* Blog post styling */
.blog-post {
  padding: var(--spacing-medium); 
  margin-bottom: 1.875rem; 
  max-width: 60vw;
  background: linear-gradient(to bottom, var(--main-bg-color), #000);
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
}

/* Header container */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  flex-direction: row;
  font-family: var(--font-family-header);
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
  z-index: 999;
}

.header-container.move-left {
  transform: scale(0.8);
  /*transition: transform 0.3s ease;*/ /* Smooth transition */
}

/* Footer button container */
.footer-button-container {
  position: fixed;
  margin-bottom: 1rem;
  bottom: 0;
  right: 0;
  justify-content: flex-end;
  display: flex;
  font-size: 2rem; /* Adjust icon size */
  padding: 1rem;
  z-index: 1003;
}

/* Footer buttons */
.footer-button {
  margin: 0 0.5rem;
}

.footer-button button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h2 {
  color: var(--highlight-color);
}
.index-picture {
  margin-right: var(--spacing-medium); 
}

/* Define the grid container for desktop layout */
.content-wrapper {
  display: grid;
  justify-self: center;
  align-items: center;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100vw;
  height: 100vh;
}

.content-wrapper:nth-child(odd) {
  grid-template-areas: "media text";
}

.content-wrapper:nth-child(even) {
  grid-template-areas: "text media";
}

/* Assign grid areas to child elements */
.text-wrapper1, .text-wrapper2, .text-wrapper3 {
  grid-area: text;
  margin: 1rem;
  padding: 1rem;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--main-text-color);
  width: 80%;
  background: linear-gradient(to bottom, var(--main-bg-color), #000);
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px var(--box-shadow-color);
}

/* Desktop layout using CSS Grid */
.media-container {
  grid-area: media;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-small);
  margin: 0 1rem;
  width: 80%;
  height: 100vh;
  overflow: hidden; /* Prevent vertical scrolling */
}

.media-container img,
.media-container video,
.media-container .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.image-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
}

.image-overlay img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 80%;
  object-fit: contain; /* Ensure the image fits within the container */
}

/* Ensure the carousel and its parent containers have a defined height */
.carousel, .carousel-inner, .carousel-item {
  height: 100%;
  overflow: hidden; /* Prevent vertical scrolling */
}

/* Additional styles to ensure proper carousel behavior */
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

/* Mobile layout using Flexbox */
@media (max-width: 1200px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
  }
  .media-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    order: 1;
  }
  .text-wrapper1, .text-wrapper2, .text-wrapper3 {
    order: 0;
  }
  .media-container img,
  .media-container video,
  .media-container .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1; /* Ensure buttons are above slides */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.carousel-indicators {
  position: absolute;
  display: flex;
  gap: 5px;
  z-index: 1; /* Ensure dots are above slides */
  justify-content: center; /* Center the dots horizontally */
  align-items: center;
  width: 100%; /* Ensure the indicators span the full width of the container */
}

.dots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8s;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Add this rule to ensure carousel images fill the container */
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Image containers */
.index-scaled-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.image-container {
  display: inline-block;
}

.image-container2 {
  height: 35%;
  width: 35%;
}

/* Text container */
.text-container {
  flex: 2;
}

/* Paragraph styling */
p {
  font-family: var(--font-family-sans);
  font-weight: 300;
  font-size: var(--font-size-large);
  color: var(--main-text-color);
  padding: var(--spacing-small);
  mix-blend-mode: luminosity;
  opacity: 0.95;
  border-radius: var(--border-radius);
}

/* Picture styling */
.picture {
  text-align: center;
  margin: var(--spacing-medium) 0; 
}

.scaled-image {
  max-width: 100%;
  height: auto;
}

/* Tag cloud styling */
.tagcloud {
  font-family: var(--font-family-sans);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2vw;
  line-height: 1.5;
  overflow: hidden;
}

.tagcloud--item:hover {
  color: #9cccff;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow: auto;
  background-color: var(--modal-bg-color);
}

.modal-content, #caption {
  animation: zoom 0.6s;
}

@keyframes zoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.close {
  position: absolute;
  top: var(--spacing-large);
  right: calc(var(--spacing-large) * 2);
  color: var(--close-btn-color);
  font-size: 2.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: var(--close-btn-hover-color);
  text-decoration: none;
  cursor: pointer;
}

/* Hint modal styles */
.footer-button img.footer-button-image {
  width: 24px;
  height: 24px;
}

.hint-modal {
  position: fixed;
  z-index: 1000;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.hint-modal-content {
  background-color: #000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.hint-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.hint-close:hover,
.hint-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Cover container */
.cover-container {
  height: calc(100vh - var(--header-height));
  max-width: 100vw;
  margin-top: var(--spacing-small);
}

.grid-cover-container {
  margin-top: 120px;
  height: 100vh;
  max-width: 100vw;
  margin-top: var(--spacing-small);
  padding: var(--spacing-small);
}

.cover-header {
  margin-top: 5px;
  margin-left: 150px;
  margin-right: 150px;
  z-index: 1000;
  height: auto;
  width: 100%;
  position: relative; 
  z-index: 1000;
}

.cover-heading {
  margin-left: var(--spacing-small);
  max-width: 14rem;
  justify-content: center;
  position: relative;
  z-index: 1000; 
}

.cover-heading2 {
  margin-left: var(--spacing-medium);
}

.cover-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.cover-blogpost {
  height: 80vh;
  max-width: 80vw;
  margin-top: var(--spacing-small);
  padding: var(--spacing-small);
}

/* PDF container */
.pdf-container {
  width: 100%;
  height: 100%;
  margin: var(--spacing-medium) 0 0 0;
  padding: 0;
}

.pdf-container iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  aspect-ratio: 1 / 1.414;
}

/* Content sections */
.content {
  font-family: var(--font-family-sans);
  font-weight: 300;
  font-size: var(--font-size-large);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  background: transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: white;
  z-index: 999;
}


.content2, .content3 {
  font-family: var(--font-family-sans);
  font-weight: 400;
  font-size: var(--font-size-small);
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: var(--spacing-large);
  max-width: 27.5rem;
  max-height: 36rem;
  position: relative;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: normal; 
  background: linear-gradient(to bottom, #1a1a1a, #000000);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1px solid #ddd;
}

.content4, .content5 {
  font-family: var(--font-family-sans);
  font-weight: 300;
  font-size: var(--font-size-small);
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: normal; 
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: white;
}

.content6 {
  margin-top: var(--spacing-small);
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: fit-content;
  width: fit-content;
  z-index: 1000;
}

/* Form styling */
.terminal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  margin-left: 100px;
  margin-right: 100px;
  margin: 0;
  padding: 0;
}

.terminal {
  background-color: #000;
  opacity: 0.5;
  color: #0f0;
  font-family: monospace;
  padding: 20px;
  border-radius: 5px;
  width: 60vw;
  height: 60vh;
  overflow-y: auto;
  text-align: left;
}

.terminal-input {
  background: none;
  border: none;
  color: #0f0;
  font-family: monospace;
  width: 100%;
  outline: none;
}

.terminal-output {
  text-align: left; /* Ensure terminal output is aligned to the left */
}

.content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content form input,
.content form textarea,
.content form button {
  margin-bottom: var(--spacing-small);
  padding: var(--spacing-small);
  border: 1px solid #333;
  border-radius: var(--border-radius);
  background-color: #333;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

/* Success and error messages */
.success-message, .error-message {
  font-weight: bold;
  text-align: center;
  background: linear-gradient(135deg, #333, #555);
  padding: var(--spacing-small);
  border-radius: var(--border-radius);
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

/* Form group */
.form-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0.9375rem;
}

.form-group label {
  margin-bottom: 0.3125rem;
}

.form-control {
  padding: var(--spacing-small);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
}

/* Cover for the grid container*/
.cover-grid-container {
  display: flex;
  justify-content: center;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout for small screens */
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
  max-width: 100vw;
  margin: 0 auto;
}

@media (min-width: 160rem) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Three columns for larger screens */
  }
}

/* Grid container 2*/
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout for small screens */
  box-sizing: border-box;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
  max-width: 80vw;
}

@media (min-width: 64rem) {
  .grid-container2 {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media (min-width: 160rem) {
  .grid-container2 {
    grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
  }
}

@media (min-width: 215rem) {
  .grid-container2 {
    grid-template-columns: repeat(4, 1fr); /* Four columns for extra-large screens */
  }
}

/* Grid item */
.grid-item {
  max-width: 80vw;
  background: linear-gradient(to bottom, #1a1a1a, #000000);
  padding: var(--spacing-medium);
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  text-align: left;
}

/* Project title and ingress */
.project-title {
  font-size: var(--font-size-extra-large);
  margin: var(--spacing-small) 0;
}

.project-ingress {
  font-size: var(--font-size-medium);
  margin: var(--spacing-small) 0;
}

/* Project link */
.project-link {
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

/* Hidden project */
.hidden-title, .hidden-link {
  color: #000; /* Match the background color */
  text-decoration: none;
}
.hidden-title:hover, .hidden-link:hover,
.hidden-title:focus, .hidden-link:focus {
  color: #000; /* Change color on hover or focus */
}

/* Header */
.masthead {
  width: 100%;
  max-width: 1200px;
  height: 1rem;
  font-family: var(--font-family-header);
  font-weight: 500;
  font-size: 1.3rem;
  padding: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  position: relative;
  margin-bottom: var(--spacing-small);
  z-index: 1000;
  border-radius: var(--border-radius);
  color: white;
}

/* Navigation */
.nav-masthead {
  display: none; /* Hide by default */
  justify-content: center;
  flex-grow: 1;
  position: relative;
  z-index: 1000;
}

.nav-mobile {
  padding: 1%;
  margin-top: 1rem;
  justify-content: end;
  position: relative;
  z-index: 1000;

}

.navbar-toggler {
  display: none;
  margin-top: 2px;
  margin-right: 2px;
}

.collapse {
  display: none;
}

.nav-masthead .nav-link {
  padding: 0.3rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  border-radius: var(--border-radius);
  margin: 0 0.5rem;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.nav-masthead .nav-link.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: var(--primary-color);
  border-bottom-color: rgba(202, 202, 202, 0.25);
}

/* Show the first navbar on larger screens */
@media (min-width: 1024px) {
  .nav-masthead {
    display: flex;
  }
}

/* Show the second navbar and the toggle button on smaller screens */
@media (max-width: 1023.98px) {
  .navbar-toggler {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: linear-gradient(to bottom, #ffffff, #e1e1e1);
    float: inline-end;
    margin-right: 1px;
    /*border-radius: 10px;*/
    position: relative;
    z-index: 1001;
    border: none;
  }

  .navbar-toggler.toggled {
    background: transparent;
    color: #fff;
}

  .collapse {
    display: none; /* Hide by default */
    position: absolute;
    margin-top: 90px;
    top: 100%; /* Center it vertically */
    right: 10px;
    transform: translateY(-50%); /* Adjust for perfect centering */
    background: linear-gradient(to bottom, #0d0e12, #1d2635);
    border-radius: 10px; /*rounded corners */
    height: auto; 
    width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow for better visibility */
    overflow: hidden; /* add scroll if content overflows */
    z-index: 1000; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
  }

  .collapse.show {
    display: block; /* Show when toggled */
    opacity: 1;
    visibility: visible;
}

/* Footer */
.mastfoot {
  font-family: var(--font-family-header);
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: var(--spacing-medium);
  height: auto;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1002;
  border-radius: var(--border-radius);
  padding: 1rem;
  box-sizing: border-box;
}
}