/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base structure */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

body {
  background-image: url('/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-attachment: fixed; /* Add vendor prefix */
  color: #fff;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
  /*-webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/ /* Add vendor prefix */
  position: relative;
  padding: 0.625rem;
}

.highlight {
  color: #9cccff; /* Change this to your desired color */
}

/* Links */
a, a:focus, a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/* Blog post styling */
.blog-post {
  padding: 1.25rem; 
  margin-bottom: 1.875rem; 
  background: linear-gradient(to bottom, #1a1a1a, #000000);
  border-radius: 0.3125rem; 
}

/* Horizontal rule */
hr {
  border: 0;
  height: 0.0625rem; 
  background: #333;
  margin: 3.75rem 0; 
}

/* Header container */
.header-container {
  font-family: "Archivo Narrow", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}

h2 {
  color: #9cccff;
}

.index-picture {
  margin-right: 1.25rem; 
}

/* Define the grid container for desktop layout */
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  gap: 2rem; /* Add some space between grid items */
  margin-bottom: 2rem; /* Add some space between content sections */
}

/* Alternate the order of text and media containers */
.content-wrapper:nth-child(odd) {
  grid-template-areas: 
    "media text";
}
.content-wrapper:nth-child(even) {
  grid-template-areas: 
    "text media";
}

/* Assign grid areas to child elements */
.text-wrapper1, .text-wrapper2, .text-wrapper3 {
  grid-area: text;
  margin: 1rem; /* Add some margin around the text */
  padding: 1rem; /* Add some padding inside the text container */
  font-family: Arial, sans-serif; /* Set a font family */
  font-size: 1rem; /* Set a base font size */
  line-height: 1.5; /* Set line height for readability */
  color: #ffffff; /* Set a text color */
  background: linear-gradient(to bottom, #1a1a1a, #000000);
  border-radius: 0.5rem; /* Optional: Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Desktop layout using CSS Grid */
.media-container {
  grid-area: media;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
  gap: 1rem; /* Add some gap between grid items */
  margin: 0 1rem; /* Add some margin around the media container */
  width: 100%; /* Set the width to 100% of the parent container */
  height: 100%; /* Set a fixed height, adjust as needed */
}

.media-container img,
.media-container video,
.media-container .carousel-item img {
  width: 100%; /* Set width to 100% of the grid item */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 0.625rem; 
}

/* Ensure the carousel and its parent containers have a defined height */
.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

/* Mobile layout using Flexbox */
@media (max-width: 1200px) {
  .content-wrapper {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    gap: 1rem; /* Add some space between items */
  }

  .media-container {
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    order: 1; /* Ensure media-container comes after text-wrapper */
  }

  .text-wrapper1, .text-wrapper2, .text-wrapper3 {
    order: 0; /* Ensure text-wrapper comes before media-container */
  }

  .media-container img,
  .media-container video,
  .media-container .carousel-item img {
    width: 100%; /* Set width to 100% of the container */
    height: 100%; /* Set height to 100% of the container */
    object-fit: cover; /* Ensure the media covers the container while maintaining aspect ratio */
  }
}

/* Add this rule to ensure carousel images fill the container */
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-scaled-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Image containers */
.image-container {
  display: inline-block;
}

.image-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Text container */
.text-container {
  flex: 2;
}

/* Paragraph styling */
p {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 0.625rem; 
  mix-blend-mode: luminosity;
  opacity: 0.95;
  border-radius: 0.3125rem; 
}

/* Picture styling */
.picture {
  text-align: center;
  margin: 1.25rem 0; 
}

.scaled-image {
  max-width: 100%;
  height: auto;
}

/* Tag cloud styling */
.tagcloud {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-left: 0%;
}
.tagcloud--item:hover {
  color: #186294;
}


/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from { -webkit-transform: scale(0); }
  to { -webkit-transform: scale(1); }
}
@keyframes zoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Cover container */
.cover-container {
  max-width: 42em;
  margin-top: 2rem;
  padding: 1rem; /* Add padding to ensure content doesn't touch the edges */
  min-height: 100%; /* Ensure the container grows to fit the content */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.cover-heading {
  margin-left: 1.25rem;
  color: #9cccff;
}

.cover-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* PDF container */
.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0.625rem 0 0 0; 
  padding: 0;
}

.pdf-container iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  aspect-ratio: 1 / 1.414;
}

/* Content sections */
.content {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 2%;
  background: transparent;
  border-radius: 0.5rem; 
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); 
  color: white;
  margin: 2% 0;
  width: 90%;
  max-width: 50rem; 
  position: relative;
  box-sizing: border-box;
}

.content2, .content3 {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 2%;
  background: linear-gradient(to bottom, #1a1a1a, #000000);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); 
  color: white;
  margin: 2% auto; /* Center the content horizontally */
  width: 100%;
  max-width: 100vw; /* Increase the max-width to make it wider */
  position: relative;
  box-sizing: border-box;
  text-align: left; /* Ensure text is aligned to the left */
}

.content4 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.25rem;
  padding: 2%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); 
  color: white;
  margin: 2% 0;
  width: 100%;
  max-width: 50rem;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  position: relative;
  box-sizing: border-box;
}

.content5 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.25rem;
  padding: 2%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); 
  color: white;
  margin: 2% 0;
  width: 100%;
  max-width: 50rem;
  position: relative;
  box-sizing: border-box;
}

.content6 {
  margin-top: 2rem; /* Adjust this value as needed */
  margin-bottom: 50rem; /* Adjust this value as needed */
}

/* Form styling */
.content form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width for the form */
  margin: 0 auto; /* Center the form */
}

.content form input,
.content form textarea,
.content form button {
  margin-bottom: 0.625rem; 
  padding: 0.625rem; 
  border: 1px solid #333;
  border-radius: 0.25rem; 
  background-color: #333;
  color: white;
  width: 100%; /* Make input elements take full width of the form */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
}

/* Success and error messages */
.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(135deg, #333, #555);
  padding: 0.625rem; 
  border-radius: 0.3125rem; 
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(135deg, #333, #555);
  padding: 0.625rem; 
  border-radius: 0.3125rem; 
}

/* Form group */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.9375rem; 
}

.form-group label {
  margin-bottom: 0.3125rem;
}

.form-control {
  padding: 0.625rem; 
  border: 1px solid #ccc;
  border-radius: 0.25rem; 
  font-size: 1rem; 
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem; 
  padding: 1.25rem; 
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Grid item */
.grid-item {
  background: linear-gradient(to bottom, #1a1a1a, #000000);
  padding: 1.25rem; 
  border: 1px solid #ddd;
  border-radius: 0.5rem; 
  text-align: left;
}

/* Project title and ingress */
.project-title {
  font-size: 1.5em;
  margin: 0.625rem 0; 
}

.project-ingress {
  font-size: 1em;
  margin: 0.625rem 0; 
}

/* Project link */
.project-link {
  color: #007bff;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

/* Header */
.masthead {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
  background: linear-gradient(to bottom, #000000, #3a3a3a); /* Gradient background */
  height: 2.7rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1000;
  border-radius: 5px; /* Rounded corners */
  color: white; /* Text color */
}

.masthead-brand {
  position: absolute;
  top: 0.625rem; 
  left: 0.625rem; 
  margin: 0;
  padding: 0;
  color: white;
}

/* Navigation */
.nav-masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-masthead .nav-link {
  padding: 0.3rem 0rem; /* Increase padding */
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9); /* Make text color more opaque */
  border-radius: 5px; /* Add rounded corners */
  margin: 0 0.5rem;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #9cccff;
  border-bottom-color: rgba(202, 202, 202, 0.25);
}

.mastfoot {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 1rem;
  /* background: linear-gradient(to bottom, #000000, #3a3a3a);*/ /* Gradient background */
  height: 2.7rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1000;
  border-radius: 5px; /* Rounded corners */
  /*color: white;*/ /* Text color */
}